@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* multiple use color */


/* bg light */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* orenge color*/
.og-color{
    background-color: #FF900E;
}
.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

/* multipele use desine */

.main > section{
    margin-top: 130px;
}

.btn{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 20px 25px;
}
.display-flex{
    display: flex;
}

.brand-width{ font-size: 3rem;

}
.section-title {
    font-size: 2.8em;
    color: #131313;
}
.section-text {
    color: #727272;
    line-height: 16px;
}

/* nav css */

nav {
    justify-content: space-around;
    align-items: center;
}
nav ul {
    gap: 30px;
    
    list-style: none;
}
nav ul a{
text-decoration: none;
font-size: 18px;
color: #;
}

.navbar , .banner ,.team{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */

.banner-info {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.banner-info .banner-title {
    font-size:  4rem;
    color: #131313;
    margin-bottom: 20px;
}
.banner-info p {
    font-size:  1rem;
    color: #131313;
}
.banner-image img{
    width: 100%;
}

/* team fuature */
.team-container{
    align-items: center;
    margin:  0 auto;
    justify-content: center;
    gap: 73px;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.team-fuature{
    max-width: 537px;

}

.team-title{
    font-size: 2.8rem ;
    margin-bottom: 24px;
}
#quick {
    font-weight: 500;
    color: #727272;
}
#text-orange{
    color: #FF900E;
}
.team-text{
    font-size: 1rem;
    margin-bottom: 32px;
}

/* some fact */

.some-fact{ max-width: 1440px;

    margin: 0 auto;
}
.fact-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
}


.fact-card{
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}
.fact-name{
    font-size: 1.2rem;
    color: #424242;
    margin-top: 10px;
    font-weight: 600;
}
.fact-icon{
    width: 45.22px;
    height: 45.22px;
}
.fact-dicscription{
    max-width: 542px;
    margin-bottom: 100px;
    line-height: 26px;
}
.fact-title{
    margin-bottom: 24px;
}
/* sponsor css */
.sponsor-text-info{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.sponsor-company{
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    gap: 30px;
    margin-top: 50px;
    justify-items: center;
    
}
.sponsor-company img {
    color: #727272;
    filter: grayscale(100%);
}
 


/* media quary */

@media screen and (max-width: 576px) {
    .list-ul, .navbar{
        flex-direction: column;
    }
    
    
    
    .team-container{
        flex-direction: column;
        gap: 10px;
        
    }
    
    .team-fuature {
        max-width: 100%;
      width: 90%;
      

        
    }
    .team-pic{
    
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.fact-container {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  justify-items: center;

}
.sponsor-company{
   margin: 50px;
    grid-template-columns: repeat( 2, 1fr);
    justify-content: center;
     }
    .sponsor-company img{
        width: 70%;
    }
    }
/*  */

@media screen and (min-width:576px) and (max-width:992px) {

    .team-container {
        flex-direction: column;
        gap: 10px;
    }

    .team-fuature {
      max-width: 100%;
      width: 100%;
      margin: 20px;
       
    }

    .fact-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;}

.sponsor-company{
   margin: 50px;
    grid-template-columns: repeat( 3, 1fr);
    justify-content: center;
     }
    .sponsor-company img{
        width: 70%;
    }
}
     